body{
    background-color: rgba(255, 255, 255, 0.973);
}


/* styleing header section */

header > h1 {
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}
header > h1:hover{
    text-shadow: 2px 2px 4px #000000;
}
header > #rounds{
    margin-top: 20px;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}


/* styleing Paragraf of display Turn fo player */

#turn{
    text-align: center;;
    font-size: xx-large;
    font-family: "Times New Roman", Times, serif;
    background-color: #e7f3fe;
}



/* Main div have three divs  ( alert , players , container , photo )  */

#main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* styleing contant of players div  */

#players{
    background-color: #e7f3fe;
    /* border: 2px solid #2196F3; */
}
#players > label{
    text-align: center;
    font-size: 30px;
}
button{
    display: block;
    margin: 10px auto;
    width: 90px;
    height: 70px;
    font-size: large;
    border-radius: 25px;
}
button:hover{
    width: 100px;
    height: 90px;
    font-size: x-large;
    background-color: #69aeee;
    color: white;
}




/* styleing contant of container div  */

.container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.box{
    border: 2px solid black;
    padding: 20px;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    background-color: #e7f3fe;
    

 /* This propertys for background-image ( X or O ) */
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}

.box:hover{
    /* property specifies the mouse cursor to be displayed when pointing over an element. */
     cursor: progress;
     background-image: url('https://media.giphy.com/media/l378raRyyx38S1ViE/200w_d.gif'); 
}


/* styleing Alert div */
.alert {
    display: none; 
    position: fixed; 
    z-index: 1; /* Sit on top of the page */
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
}

.alert-div {
    margin: 0 auto;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 250px;
    height: 150px;
    border-radius: 25px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#maseg{
    color: #69aeee;;
    font-size: xx-large;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}  
  
/* The Close Button in the ( alert div ) */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover {
    color: #000;
    cursor: pointer;
}




@media only screen and (max-width: 960px) { 

#main {
    /* justify-content: space-around; */
    display: inline-block;
    position: absolute;
    right: 25%;
    
}

.container{
    width: auto;
}


#players{
    display: flex;
    justify-content: center; 
}

.photo{
    display: flex;
    justify-content: center; 
}



}



@media only screen and (max-width: 375px) { 

    #main {
        display: inline-block;
        position: absolute;
        right: 15%;
        
    }
    
    .container{
        width: auto;
    }
    

.box{
    padding: 20px;
    width: 50px;
    height: 50px;

}    
    #players{
        display: flex;
        justify-content: center; 
    }
    
    .photo{
        display: flex;
        justify-content: center; 
    }
    
    
    
    }

}