body{
    background-color: rgba(255, 255, 255, 0.973);
}


/* styleing header section */

header > h1 {
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}
header > h1:hover{
    text-shadow: 2px 2px 4px #000000;
}
header > #rounds{
    margin-top: 20px;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}


/* styleing Paragraf of display Turn fo player */

#turn{
    text-align: center;;
    font-size: xx-large;
    font-family: "Times New Roman", Times, serif;
}



/* Main div have three divs  ( players , container , photo )  */

#main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* styleing contant of players div  */

#players > label{
    text-align: center;
    font-size: 30px;
}
button{
    display: block;
    margin: 10px auto;
    width: 90px;
    height: 70px;
    font-size: large;
    /* margin: 10px; */
    border-radius: 25px;
}
button:hover{
    width: 110px;
    height: 100px;
    background-color: #555555;
    color: white;
}




/* styleing contant of container div  */

.container {
    display: grid;
    grid-template-columns: auto auto auto;
  
}

.box{
    border: 2px solid black;
    padding: 20px;
    width: 100px;
    height: 100px;

/* This property for background-image ( X , O ) */
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}





